# Introduction to Python

[![Open In Colab](https://colab.research.google.com/assets/colab-badge.svg)](https://colab.research.google.com/github/UCL-DSPP-2425/ECON0128-lectures/blob/main/09_python/intro_python.ipynb)

## Why Python?

- Great implementations of machine learning methods
  - [scikit-learn](https://scikit-learn.org/stable/): logistic regression, decision trees, clustering algorithms, and much more.
  - [PyTorch](https://pytorch.org/), [Keras](https://keras.io), [JAX](https://jax.readthedocs.io/en/latest/notebooks/quickstart.html): building blocks for neural networks
  - [HuggingFace](https://huggingface.co/): High-level abstractions to work with modern language models and computer vision models

- Versatility
- Support
  - Large community of active users
  - Modern generative language models can create useful fragments of code

## Variables and data types

- Variables are created using the = sign
- Basic data types in Python:
  - Strings: ```"Hi!"```
  - Integers: ```2```
  - Floats: ```4.4```
  - Booleans: ```True```

In [ ]:
# defining variables in Python and exploring different data types
my_variable = 2

In [ ]:
my_string = "Hi everyone!"
my_float = 2.4
my_boolean = True

In [ ]:
# operations with numbers
2 + 2

In [ ]:
2*4

In [ ]:
2/2

In [ ]:
2**8

In [ ]:
my_math_operation = (2+2) * 8

In [ ]:
my_math_operation

In [ ]:
# operations with strings
"Hi" + " " + "everyone" + "!"

In [ ]:
"Hi"/"everyone"

In [ ]:
False + False + True

In [ ]:
True*False

## Lists

- Basic object in Python to store multiple values together
- Represented by square brackets ```[ ]```

In [ ]:
# create an empty list
empty_list = []

In [ ]:
empty_list

In [ ]:
# create lists
integer_list = [2,3,4,5,6]

In [ ]:
integer_list

In [ ]:
string_list = ["john", "pedro", "juan", "nicolas"]

In [ ]:
string_list

In [ ]:
mixed_list = [2, 4.0, True, "Hi"]

In [ ]:
# get the first element of a list
mixed_list[3]

In [ ]:
mixed_list[-1]

In [ ]:
# change an element within a list
mixed_list[0] = 10

In [ ]:
mixed_list[-1] = "Hello"

In [ ]:
mixed_list

In [ ]:
# add elements to a list
mixed_list + [4,6]

In [ ]:
my_new_list = mixed_list + [4,6]
my_new_list

In [ ]:
# list of lists
my_list_of_lists = [[1,2,3], ["a", "b", "c"], [True, False]]

In [ ]:
my_list_of_lists

## Dictionaries

- Represented by curly brackets ```{}```
- Consists of a collection of key-value pairs. Each key-value pair maps the key to its associated value

In [ ]:
# empty dictionary
my_dictionary = {}

In [ ]:
my_dictionary

In [ ]:
# create a non-empty dictionary (groceries list)
my_groceries = {"bananas": 10, "apples": 1, "olive oil": 1}

In [ ]:
my_groceries

In [ ]:
# access elements of dictionaries
my_groceries["bananas"]

In [ ]:
my_groceries["apples"]

In [ ]:
# create a dictionary with integers as keys
my_numbers = {0: "zero", 1: "one", 2: "two"}

In [ ]:
my_numbers

In [ ]:
my_numbers[2]

In [ ]:
# add new key-value pairs to dictionary
my_numbers[10] = "ten"

In [ ]:
my_numbers

In [ ]:
my_numbers[20] = "twenty"
my_numbers

In [ ]:
# access all keys
my_numbers.keys()

In [ ]:
# access all values
my_numbers.values()

## For loops and list comprehensions

In [1]:
# loop over elements of a list
my_list = [1,2,3,4,5]
my_list

[1, 2, 3, 4, 5]

In [2]:
for i in my_list:
  print(i)

1
2
3
4
5

In [3]:
for element in my_list:
  print(element)

1
2
3
4
5

In [6]:
my_sum = 0
for k in my_list:
  #my_sum += k
  my_sum = my_sum + k

In [7]:
my_sum

15

In [9]:
# loop over a range
for i in range(1, 6):
  print(i)

1
2
3
4
5

In [8]:
# loop over a string
my_string = "Hello!"
for i in my_string:
  print(i)

H
e
l
l
o
!

In [ ]:
for k in "Hello!":
  print(k)

In [ ]:
# for loop in one line
for k in "Hello!": print(k)

In [ ]:
# list comprehension
my_list

In [12]:
[i + 2 for i in my_list] # every number in my_list plus 2

[3, 4, 5, 6, 7]

In [13]:
# question: take the list of string ["A","B","C"] and append to each one the string "_test"
my_string_list = ["A","B","C"]
for i in my_string_list:
  print(my_string_list)
# using a.append

['A', 'B', 'C']
['A', 'B', 'C']
['A', 'B', 'C']

SyntaxError: invalid character '：' (U+FF1A) (<ipython-input-14-e0f2bad3bbf5>, line 2)

IndexError: list assignment index out of range

## Conditional statements

- We can use the ```if``` statement in Python to check if a logical condition is true
- Python supports basic logical operations such as:
    - Equal: ``` == ```
    - Not equal: ``` != ```
    - Greater than: ``` > ```
    - Smaller than: ``` < ```
- After an ```if``` statement we can also use ```elif``` (i.e. else + if) and ```else``` to specify what happens when none of the logical conditions are true

In [15]:
# basic if statement
if 2 > 1:
  print("Yeeees!")

Yeeees!

In [16]:
if "Hello" == "Helo":
  print("They are the same")

In [17]:
if "Hello" != "Helo":
  print("They are not the same")

They are not the same

In [ ]:
a = 10
b = 20

if a < b:
  print("a is smaller than b")

In [ ]:
# if + else statement
if a == b:
  print("They are equal")
else:
  print("They are not equal")

In [ ]:
if a > b:
  print("a greater than b")
else:
  print("a is not greater than b")

In [ ]:
# if + elif + else statement
if a > b:
  print("a greater than b")
elif a == b:
  print("a equal to b")
else:
  print("a not greater and not equal to b")

## Functions

- A function is a re-usable block of code that performs one or multiple operations. Functions usually take inputs and return outputs.
- Python has a set of basic pre-built functions. [Here](https://www.w3schools.com/python/python_ref_functions.asp) is a full list but some of the most used are:
  - ```print( )```
  - ```len( )```
  - ```abs( )```, ```max( )```, ```min( )```
  - ```range( )``` <br><br>

- Additional functions can be brought to Python by importing packages
- Functions can also be defined by the user using the ``` def my_function():``` syntax

In [18]:
# example of pre-built functions
print("Something!")

Something!

In [19]:
len([1,2,3,4])

4

In [20]:
len("Something!")

10

In [21]:
len()

TypeError: len() takes exactly one argument (0 given)

In [22]:
abs(-10) # absolute value

10

In [23]:
max([10,200,5,300])

300

In [29]:
max('ABDO') # print the last order in alphabet

'O'

In [24]:
# functions from objects
my_dictionary = {"bananas": 10, "apples": 20}
my_dictionary

{'bananas': 10, 'apples': 20}

In [30]:
my_dictionary.keys()

dict_keys(['bananas', 'apples'])

In [31]:
my_dictionary.values()

dict_values([10, 20])

In [32]:
my_string = "HELLO!"
my_string

'HELLO!'

In [33]:
my_string.lower() # characters in lower case

'hello!'

In [34]:
my_string = "Hello world !"
my_string.split()

['Hello', 'world', '!']

In [35]:
# define my own function
def my_function(x):
  result = x*2
  return result

In [36]:
my_function(10)

20

In [40]:
# piping
string = "Stephen Hansen"
print(string.lower())
string_lc = string.lower()
string_split = string_lc.split # .is piping which means attach a function
print(string_split)

stephen hansen
<built-in method split of str object at 0x78cece499470>