# Introduction to Python

[![Open In Colab](https://colab.research.google.com/assets/colab-badge.svg)](https://colab.research.google.com/github/UCL-DSPP-2425/ECON0128-lectures/blob/main/09_python/intro_python.ipynb)

## Why Python?

- Great implementations of machine learning methods
  - [scikit-learn](https://scikit-learn.org/stable/): logistic regression, decision trees, clustering algorithms, and much more.
  - [PyTorch](https://pytorch.org/), [Keras](https://keras.io), [JAX](https://jax.readthedocs.io/en/latest/notebooks/quickstart.html): building blocks for neural networks
  - [HuggingFace](https://huggingface.co/): High-level abstractions to work with modern language models and computer vision models

- Versatility
- Support
  - Large community of active users
  - Modern generative language models can create useful fragments of code

## Variables and data types

- Variables are created using the = sign
- Basic data types in Python:
  - Strings: ```"Hi!"```
  - Integers: ```2```
  - Floats: ```4.4```
  - Booleans: ```True```

In [1]:
print("Hello World")

Hello World

In [3]:
# defining variables in Python and exploring different data types
my_variable = 2
print(my_variable)

2

In [5]:
my_string = "Hi everyone!"
my_float = 2.4
my_boolean = True

In [6]:
# operations with numbers
2 + 2

4

In [7]:
2*4

8

In [ ]:
2/2

In [8]:
2**8

256

In [9]:
my_math_operation = (2+2) * 8

In [10]:
my_math_operation

32

In [ ]:
# operations with strings
"Hi" + " " + "everyone" + "!"

In [ ]:
"Hi"/"everyone"

In [11]:
False + False + True # False =0, True = 1

1

In [12]:
True*False

0

## Lists

- Basic object in Python to store multiple values together
- Represented by square brackets ```[ ]```

In [14]:
# create an empty list
empty_list = []

In [ ]:
empty_list

In [15]:
# create lists
integer_list = [2,3,4,5,6]

In [16]:
integer_list

[2, 3, 4, 5, 6]

In [17]:
string_list = ["john", "pedro", "juan", "nicolas"]

In [18]:
string_list

['john', 'pedro', 'juan', 'nicolas']

In [19]:
mixed_list = [2, 4.0, True, "Hi"]

In [23]:
# get the first element of a list
mixed_list[0]
mixed_list[-4]
mixed_list[3] # order: 0 1 2 3

'Hi'

In [ ]:
# get th

In [20]:
mixed_list[-1]

'Hi'

In [26]:
# change an element within a list
mixed_list[0] = 10 # [0] means the first element

In [28]:
mixed_list[-1] = "Hello"

In [29]:
mixed_list

[10, 4.0, True, 'Hello']

In [30]:
# add elements to a list
mixed_list + [4,6] # followed by

[10, 4.0, True, 'Hello', 4, 6]

In [32]:
my_new_list = mixed_list + [4,6]
my_new_list

[10, 4.0, True, 'Hello', 4, 6]

In [34]:
# list of lists
my_list_of_lists = [[1,2,3], ["a", "b", "c"], [True, False]]

In [35]:
my_list_of_lists

[[1, 2, 3], ['a', 'b', 'c'], [True, False]]

In [36]:
# index the last element from the second list of my_list_of_lists
my_list_of_lists[1][-1] # 1 means the second list of my_list_lists, -1 means the last element in the second list

'c'

## Dictionaries

- Represented by curly brackets ```{}```
- Consists of a collection of key-value pairs. Each key-value pair maps the key to its associated value

In [37]:
# empty dictionary
my_dictionary = {}

In [ ]:
my_dictionary

In [41]:
# create a non-empty dictionary (groceries list)
my_groceries = {"bananas": 10, "apples": 1, "olive oil": 1}

In [42]:
my_groceries

{'bananas': 10, 'apples': 1, 'olive oil': 1}

In [43]:
# access elements of dictionaries
my_groceries["bananas"]

10

In [44]:
my_groceries["apples"]

1

In [45]:
# create a dictionary with integers as keys
my_numbers = {0: "zero", 1: "one", 2: "two"}

In [47]:
my_numbers

{0: 'zero', 1: 'one', 2: 'two'}

In [48]:
my_numbers[2]

'two'

In [49]:
# add new key-value pairs to dictionary
my_numbers[10] = "ten"

In [50]:
my_numbers

{0: 'zero', 1: 'one', 2: 'two', 10: 'ten'}

In [51]:
my_numbers[20] = "twenty"
my_numbers

{0: 'zero', 1: 'one', 2: 'two', 10: 'ten', 20: 'twenty'}

In [52]:
# access all keys
my_numbers.keys()

dict_keys([0, 1, 2, 10, 20])

In [53]:
# access all values
my_numbers.values()

dict_values(['zero', 'one', 'two', 'ten', 'twenty'])

## For loops and list comprehensions

In [ ]:
# loop over elements of a list
my_list = [1,2,3,4,5]
my_list

In [ ]:
for i in my_list:
  print(i)

In [ ]:
for element in my_list:
  print(element)

In [ ]:
my_sum = 0
for k in my_list:
  #my_sum += k
  my_sum = my_sum + k

In [ ]:
my_sum

In [ ]:
# loop over a range
for i in range(1, 6):
  print(i)

In [ ]:
# loop over a string
my_string = "Hello!"
for i in my_string:
  print(i)

In [ ]:
for k in "Hello!":
  print(k)

In [ ]:
# for loop in one line
for k in "Hello!": print(k)

In [ ]:
# list comprehension
my_list

In [ ]:
[i + 2 for i in my_list]

## Conditional statements

- We can use the ```if``` statement in Python to check if a logical condition is true
- Python supports basic logical operations such as:
    - Equal: ``` == ```
    - Not equal: ``` != ```
    - Greater than: ``` > ```
    - Smaller than: ``` < ```
- After an ```if``` statement we can also use ```elif``` (i.e. else + if) and ```else``` to specify what happens when none of the logical conditions are true

In [ ]:
# basic if statement
if 2 > 1:
  print("Yeeees!")

In [ ]:
if "Hello" == "Helo":
  print("They are the same")

In [ ]:
if "Hello" != "Helo":
  print("They are not the same")

In [ ]:
a = 10
b = 20

if a < b:
  print("a is smaller than b")

In [ ]:
# if + else statement
if a == b:
  print("They are equal")
else:
  print("They are not equal")

In [ ]:
if a > b:
  print("a greater than b")
else:
  print("a is not greater than b")

In [ ]:
# if + elif + else statement
if a > b:
  print("a greater than b")
elif a == b:
  print("a equal to b")
else:
  print("a not greater and not equal to b")

## Functions

- A function is a re-usable block of code that performs one or multiple operations. Functions usually take inputs and return outputs.
- Python has a set of basic pre-built functions. [Here](https://www.w3schools.com/python/python_ref_functions.asp) is a full list but some of the most used are:
  - ```print( )```
  - ```len( )```
  - ```abs( )```, ```max( )```, ```min( )```
  - ```range( )``` <br><br>

- Additional functions can be brought to Python by importing packages
- Functions can also be defined by the user using the ``` def my_function():``` syntax

In [ ]:
# example of pre-built functions
print("Something!")

In [ ]:
len([1,2,3,4])

In [ ]:
len("Something!")

In [ ]:
len()

In [ ]:
abs(-10)

In [ ]:
max([10,200,5,300])

In [ ]:
# functions from objects
my_dictionary = {"bananas": 10, "apples": 20}
my_dictionary

In [ ]:
my_dictionary.keys()

In [ ]:
my_dictionary.values()

In [ ]:
my_string = "HELLO!"
my_string

In [ ]:
my_string.lower()

In [ ]:
my_string = "Hello world !"
my_string.split()

In [ ]:
# define my own function
def my_function(x):
  result = x*2
  return result

In [ ]:
my_function(10)